.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen {
  border-radius: 10px 10px 0px 0px;
  text-align: right;
  max-width: 25rem;
  overflow: scroll;
  display: block;
  color: white;
  font-size: 5rem;
  width: 25rem;
  padding: 3rem 2rem 0rem 0.5rem;
  margin: auto;
  background: rgb(11, 11, 11);
}
.calculator {
  display: block;
  margin-top: 4rem;
}
.tile {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  margin: auto;
  outline: none;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}
.calculator_buttons {
  border-radius: 0px 0px 10px 10px;
  display: grid;
  height: 30rem;
  max-width: 25rem;
  margin: auto;
  background: rgb(12, 12, 12);
  padding: 0 1.25rem 1.25rem 1.25rem;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r s";
}
.operator {
  font-size: 2.5rem;
  background: rgb(240, 152, 0);
}
.operator:hover {
  background: rgb(232, 170, 64);
}
.operator.selected {
  background: rgb(250, 235, 208);
  color: rgb(240, 152, 0);
}
.zero {
  grid-area: q;
  width: 10rem;
  padding-left: 30px;
  text-align: left;
  border-radius: 25%/50%;
}
.number {
  background: rgb(57, 57, 57);
}
.number:hover {
  background: rgb(99, 99, 99);
}

.special {
  background: rgb(142, 142, 142);
  color: black;
}
.special:hover {
  background: rgb(189, 189, 189);
}
